body {
	font-family: 'Merriweather', serif;
	color: #333;
	background-color: #e9d3b0; /* Cream */
	margin: 0;
	padding: 0;
}
.container {
	width: 90%
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em 0;
}

/* Header styling */
header {
	display: block;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	background-color: #6a0dad; /* Purple */
	color: #ffffff;
}
.logo img {
	max-width: 150px; /* Adjust size as needed */
	border-radius: 5px; /* optional: to round the corners of the logo */
	transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.logo img:hover {
	transform: scale(1.1); /* Slightly enlarge logo on hover */
}
header h1, header h2 {
	margin-left: auto;
	text-align: center;
}
header h1 {
	font-family: 'Monserrat', sans-serif;
	font-size: 3em;
	margin: 0.5em 0;
}
header h2 {
	font-family: 'Playfair Display', serif;
	color: #0ab7a7; /* Refreshing Aqua */
	font-size: 2em;
	margin: 0.5em 0;
}

/* Basic styling for the navigation menu */
.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1c6f3a /* Dark Green */
	padding: 10px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.nav-button {
	color: #99ccff; /* Light Blue */
	text-decoration: none;
	padding: 18px 24px;
	background-color: #1c6f3a; /* Dark Green */
	border: 2px solid #99ccff; /* Light Blue */
	border-radius: 5px;
	cursor: pointer;
	margin-right: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}
.nav-button:hover,
.dropdown:hover .nav-button{
	color: #fea4da; /* Light Pink */
	background-color: #1c6f3a; /* Dark Green */
	text-decoration: underline;
	border: 2px solid #fea4da; /* Light Pink */
	box-shadow: 0 2px #666; /* 3D shadow effect on hover */
	transform: translateY(2px); /* Move down on hover */
}

/* Dropdown menu */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1c6f3a; /* Dark Green */
	min-width: 160px;
	z-index: 1;
	text-align: left;
	border-radius: 5px;
	border: 2px solid #99ccff; /* Light Blue */
	box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Dropdown shadow effect */
}
.dropdown-content a {
	display: block;
	color: #99ccff; /* Light Blue */
	padding: 12px 16px;
	text-decoration: none;
}
.dropdown-content a:hover {
	color: #fea4da; /* Light Pink */
	background-color: #1c6f3a; /* Drak Green */
	border-radius: 5px;
	border: 2px soild #fea4da; /* Light Pink */
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
}
.dropdown:hover .dropdown-content {
	display: block;
}

/* Search Box */
.search-container {
	display: flex;
	align-items: center;
}
input[type="text"] {
	padding: 10px;
	border: 2px solid #1c6f3a; /* Dark Green */
	border-radius: 5px;
	margin-right: 5px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}
.search-button {
	padding: 10px;
	margin: 1px;
	border: 2px soild #c888f6; /* Light Purple */
	background-color: #1c6f3a; /* Dark Green */
	color: #c888f6; /* Light Purple */
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	transition: all 0.3s ease; /* Smooth transition for hover effect */
}
.search-button:hover {
	background-color: #1c6f3a; /* Dark Green */
	color: #c888f6; /* Light Purple */
	border: 2px soild #c888f6;
	border-radius: 5px;
		transform: translateY(2px); /* Move down on hover */
}

.hero {
	background-color: #2c5f2d; /* Forest Green */
	text-align: center;
	padding: 4em 0;
	color: #ffffff;
}
.features {
	background-color: #ffffff;
	color: #333;
	padding: 4em 0;
}
.features h2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #076476;
	margin-bottom: 2em;
}
.feature {
	text-align: center;
	margin: 1em 0;
}
.feature h3 {
	font-family: 'Poppins', sans-serif;
	color: #dc6d15; /* Vibrant Orange */
}
